.classification {
  min-height: 100vh;
  background: linear-gradient(#757f9a, #d7dde8);
  .classification-inner {
    display: flex;
    align-items: center;
  }
  .header-background {
    height: 90px;
  }
  .banner {
    width: 30%;
    &.cat {
      transform: scale(120%, 120%);
    }
  }
  .input-field {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    // margin-top: 20px;
    .image-preview {
      width: 70%;
      height: 350px;
      border-radius: 10px;
      border: 2px dashed #fff;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    label {
      border-radius: 8px;
      border: 1px solid transparent;
      padding: 0.6em 1.2em;
      font-size: 1em;
      font-weight: 500;
      font-family: inherit;
      background-color: #1a1a1a;
      cursor: pointer;
      transition: border-color 0.25s;
    }
    input {
      display: none;
    }
    .result {
      font-size: 20px;
      letter-spacing: 1.5px;
      p {
        color: #9f9f9f;
        font-weight: 500;
      }
      span {
        color: #1a1a1a;
        font-size: 24px;
        font-weight: 700;
      }
    }
    button.disable {
      pointer-events: none;
      opacity: 0.5;
    }
  }
}
.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 70px;
  height: 70px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
